@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        SECRET
    </div>
    @foreach (var claim in ((System.Security.Claims.ClaimsPrincipal)User).Claims)
    {
        <div>
            @claim.Type : @claim.Value
        </div>
    }
    <div>
        <a href="/Auth/Logout">Log out</a>
    </div>
</body>
</html>
